@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

html {
    font-family: "Inter", system-ui;
}

.swiper {
    padding: 32px;
}

.swiper-slide.swiper-slide-active {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.swiper-button-prev::after {
    color: #718096;
}

.swiper-button-next::after {
    color: #718096;
}